<%- include("partials/header") %>
        
    <div class="container">    
        <h1>Rat Squad</h1>
        
        <div class="jumbotron">
            <h1>Socials</h1>
        <a href="/campgrounds">Picture book</a>
        <br>
<a href="/blogs/">Blog</a>
    
    </div>
<div class="jumbotron">
    

    <h1>Shop</h1>
    <a href="/shop">Shop</a>
 </div>   
    </div>
    
<%- include("partials/footer") %>