<%- include("partials/header") %>
<h1>Rat Shop</h1>
<div class="container">
<div class="jumbotron">
    <h1>Token Generator</h1>
    <p></p>
    
</div>

    
</div>


<%- include("partials/footer") %>